StatelessREST.json
{"flowContents":{"identifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735","instanceIdentifier":"1871c689-0186-1000-06d0-651f7e054d6a","name":"StatelessREST","comments":"","position":{"x":72.0,"y":592.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e9d7fb92-2c23-384b-95ec-97e7c9dbf89f","instanceIdentifier":"bede3157-253a-10e2-4a84-5614fed69369","name":"SplitJson","comments":"","position":{"x":566.0,"y":924.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*.data.stations"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"2e84831e-7236-37f1-8052-f05448fade77","instanceIdentifier":"b5d0345c-e7aa-1cf2-d351-874abbaca542","name":"Query and Convert","comments":"","position":{"x":568.0,"y":728.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"aa8262cd-1df5-3391-894d-cbb6f1f3f1b2","record-reader":"1625aad9-1c6c-3ba1-b145-4749c3530465","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"1 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"5b5054ac-f6a9-30e3-8777-d66213dd1389","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b","name":"REST Input","comments":"","position":{"x":592.0,"y":536.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"190 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://gbfs.citibikenyc.com/gbfs/en/station_status.json","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"420 secs","Max Length To Put In Attribute":"4096","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#d6e3ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"2c9f21ea-43ea-34e2-8fec-7ccebf3af333","instanceIdentifier":"bede3156-253a-10e2-5356-a2c2ab73cc1c","name":"Add TS and UUID","comments":"","position":{"x":558.0,"y":1116.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"record-writer":"aa8262cd-1df5-3391-894d-cbb6f1f3f1b2","/uuid":"${uuid}","record-reader":"1625aad9-1c6c-3ba1-b145-4749c3530465","replacement-value-strategy":"literal-value","/ts":"${now():toNumber()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"inputPorts":[{"identifier":"02eaebe1-3a10-3601-8f64-6f5f9ced5183","instanceIdentifier":"b5d0344e-e7aa-1cf2-7d77-8ed47ae3235e","name":"Start","position":{"x":648.0,"y":432.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"outputPorts":[{"identifier":"b7f4f00b-8b4c-3011-a5ad-2d3e5f03c88e","instanceIdentifier":"b5d03446-e7aa-1cf2-c027-45c5a27762d4","name":"REST OUT","position":{"x":424.0,"y":1344.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"e62651e2-d760-3318-921d-54be30c87a63","instanceIdentifier":"b5d03448-e7aa-1cf2-b4bb-9f465414a172","name":"ERROR OUT","position":{"x":888.0,"y":1336.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"connections":[{"identifier":"6cafd3ca-d2b9-3e90-b05b-e61108f62f94","instanceIdentifier":"7fbe3684-c579-11ee-f447-184a2fde0e1a","name":"","source":{"id":"e9d7fb92-2c23-384b-95ec-97e7c9dbf89f","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"SplitJson","comments":"","instanceIdentifier":"bede3157-253a-10e2-4a84-5614fed69369"},"destination":{"id":"7ab6e688-ecb2-3cd0-adbe-3e4d0dc9eb1d","type":"FUNNEL","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Funnel","comments":"","instanceIdentifier":"bede3154-253a-10e2-bea6-bdd5ab5e4837"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"0558538b-a79b-35ac-b251-9479e84ea0f8","instanceIdentifier":"b5d03449-e7aa-1cf2-b765-4445f298d41f","name":"","source":{"id":"2c9f21ea-43ea-34e2-8fec-7ccebf3af333","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Add TS and UUID","comments":"","instanceIdentifier":"bede3156-253a-10e2-5356-a2c2ab73cc1c"},"destination":{"id":"e62651e2-d760-3318-921d-54be30c87a63","type":"OUTPUT_PORT","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"ERROR OUT","instanceIdentifier":"b5d03448-e7aa-1cf2-b4bb-9f465414a172"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"1ac94261-79a1-302b-ba3e-badc1ac8f0e2","instanceIdentifier":"b5d03444-e7aa-1cf2-845c-b96f6d08694b","name":"","source":{"id":"5b5054ac-f6a9-30e3-8777-d66213dd1389","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST Input","comments":"","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b"},"destination":{"id":"5b5054ac-f6a9-30e3-8777-d66213dd1389","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST Input","comments":"","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1168.0,"y":499.0},{"x":1060.999984741211,"y":626.4999694824219}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"9445f84d-bdab-3994-bbd2-dd1741009886","instanceIdentifier":"7fbe3682-c579-11ee-9286-7cc3297975d3","name":"","source":{"id":"e9d7fb92-2c23-384b-95ec-97e7c9dbf89f","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"SplitJson","comments":"","instanceIdentifier":"bede3157-253a-10e2-4a84-5614fed69369"},"destination":{"id":"2c9f21ea-43ea-34e2-8fec-7ccebf3af333","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Add TS and UUID","comments":"","instanceIdentifier":"bede3156-253a-10e2-5356-a2c2ab73cc1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"7575fa6e-f2e1-3f38-8fea-19e3896c951f","instanceIdentifier":"b5d0345d-e7aa-1cf2-6f7c-87bf85e00746","name":"","source":{"id":"2e84831e-7236-37f1-8052-f05448fade77","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Query and Convert","comments":"","instanceIdentifier":"b5d0345c-e7aa-1cf2-d351-874abbaca542"},"destination":{"id":"e9d7fb92-2c23-384b-95ec-97e7c9dbf89f","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"SplitJson","comments":"","instanceIdentifier":"bede3157-253a-10e2-4a84-5614fed69369"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"b8485bef-8e7a-339c-97eb-78f4a822e7e2","instanceIdentifier":"b5d0344f-e7aa-1cf2-5d8d-0fb5c2af1812","name":"","source":{"id":"02eaebe1-3a10-3601-8f64-6f5f9ced5183","type":"INPUT_PORT","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Start","instanceIdentifier":"b5d0344e-e7aa-1cf2-7d77-8ed47ae3235e"},"destination":{"id":"5b5054ac-f6a9-30e3-8777-d66213dd1389","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST Input","comments":"","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"1ad9d22c-c62f-35db-9f88-1c57912815b4","instanceIdentifier":"b5d03443-e7aa-1cf2-21ac-b65102d796af","name":"","source":{"id":"5b5054ac-f6a9-30e3-8777-d66213dd1389","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST Input","comments":"","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b"},"destination":{"id":"7ab6e688-ecb2-3cd0-adbe-3e4d0dc9eb1d","type":"FUNNEL","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Funnel","comments":"","instanceIdentifier":"bede3154-253a-10e2-bea6-bdd5ab5e4837"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"8a1e9629-0676-3a02-a5bd-95b1482efb70","instanceIdentifier":"b5d0345e-e7aa-1cf2-824f-b6a24af2b73e","name":"","source":{"id":"2e84831e-7236-37f1-8052-f05448fade77","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Query and Convert","comments":"","instanceIdentifier":"b5d0345c-e7aa-1cf2-d351-874abbaca542"},"destination":{"id":"7ab6e688-ecb2-3cd0-adbe-3e4d0dc9eb1d","type":"FUNNEL","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Funnel","comments":"","instanceIdentifier":"bede3154-253a-10e2-bea6-bdd5ab5e4837"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"5ff3e295-8cfb-398a-901e-a250751d1057","instanceIdentifier":"b5d0344d-e7aa-1cf2-c9e3-0cd5ca393235","name":"","source":{"id":"5b5054ac-f6a9-30e3-8777-d66213dd1389","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST Input","comments":"","instanceIdentifier":"7fbe3680-c579-11ee-566d-b0eb05e3f99b"},"destination":{"id":"2e84831e-7236-37f1-8052-f05448fade77","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Query and Convert","comments":"","instanceIdentifier":"b5d0345c-e7aa-1cf2-d351-874abbaca542"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"af0147c9-4de4-36b9-83a1-e490aa6ca96e","instanceIdentifier":"b5d03447-e7aa-1cf2-ee9b-64c79f93017b","name":"","source":{"id":"2c9f21ea-43ea-34e2-8fec-7ccebf3af333","type":"PROCESSOR","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"Add TS and UUID","comments":"","instanceIdentifier":"bede3156-253a-10e2-5356-a2c2ab73cc1c"},"destination":{"id":"b7f4f00b-8b4c-3011-a5ad-2d3e5f03c88e","type":"OUTPUT_PORT","groupId":"1f3b5201-1ccb-3855-942d-4099cd0cc735","name":"REST OUT","instanceIdentifier":"b5d03446-e7aa-1cf2-c027-45c5a27762d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"labels":[],"funnels":[{"identifier":"7ab6e688-ecb2-3cd0-adbe-3e4d0dc9eb1d","instanceIdentifier":"bede3154-253a-10e2-bea6-bdd5ab5e4837","position":{"x":1350.0,"y":732.0},"componentType":"FUNNEL","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"controllerServices":[{"identifier":"aa8262cd-1df5-3391-894d-cbb6f1f3f1b2","instanceIdentifier":"b5d0344b-e7aa-1cf2-eb51-dfde9d54f40c","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"},{"identifier":"1625aad9-1c6c-3ba1-b145-4749c3530465","instanceIdentifier":"b5d0344c-e7aa-1cf2-83f5-241e7da70a4d","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1f3b5201-1ccb-3855-942d-4099cd0cc735"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}