nifi/Rest_To_Pulsar_to_Flink_SQL.json
{"flowContents":{"identifier":"67bda564-d304-35e1-a3dc-5271883cfffb","instanceIdentifier":"d43fcb74-0184-1000-208a-53702982970d","name":"Rest To Pulsar to Flink SQL","comments":"","position":{"x":656.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"01c2a1d9-17d1-3d66-94c8-3b1690d3e813","instanceIdentifier":"8f3d3b80-4f16-1309-e5f4-876d2118a914","name":"Add TS and UUID","comments":"","position":{"x":264.0,"y":48.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"record-writer":"241f1918-4dc8-3f39-be9e-5f2a4f7f211c","/uuid":"${uuid}","record-reader":"bbc1a5ef-9c5e-35dd-afdb-b162ce5b6456","replacement-value-strategy":"literal-value","/ts":"${now():toNumber()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"73bda51b-74c4-37d1-a87c-5a4e07ec3c21","instanceIdentifier":"d1ab30ba-3429-1cbe-c426-ed7cd7722f32","name":"PublishPulsarRecord","comments":"","position":{"x":256.0,"y":248.0},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"a8ac07ef-b35b-3cda-9852-3e71f726c5c1","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"241f1918-4dc8-3f39-be9e-5f2a4f7f211c","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/citibikenyc","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"bbc1a5ef-9c5e-35dd-afdb-b162ce5b6456","MESSAGE_KEY":null,"BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"46ce3a35-52d2-3bd9-bc50-13c2c000acc1","instanceIdentifier":"d1ab30bc-3429-1cbe-5165-d6593a50bfeb","name":"RetryFlowFile","comments":"","position":{"x":248.0,"y":440.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"ba6f61e8-ef20-3d8f-b534-31ed695db621","instanceIdentifier":"d1ab30b2-3429-1cbe-536e-bad936c6d4b6","name":"SplitJson","comments":"","position":{"x":272.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*.data.stations"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"28784063-9393-33ee-b008-b554b774957a","instanceIdentifier":"310f3285-90fe-1b53-3e68-1e53fa982079","name":"REST Input","comments":"","position":{"x":280.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"190 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://gbfs.citibikenyc.com/gbfs/en/station_status.json","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"420 secs","Max Length To Put In Attribute":"4096","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#d6e3ff"},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"ac07c087-bca8-3cc8-b43c-184b12c51c57","instanceIdentifier":"8f3d3b7f-4f16-1309-7038-3b343d0f06bd","name":"Query and Convert","comments":"","position":{"x":270.99998474121094,"y":-371.5000305175781},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"241f1918-4dc8-3f39-be9e-5f2a4f7f211c","record-reader":"bbc1a5ef-9c5e-35dd-afdb-b162ce5b6456","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"1 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"4b45fc0a-c624-3be0-ae66-9294e293cbb2","instanceIdentifier":"d1ab30c3-3429-1cbe-6517-73d59b476589","name":"PutFile","comments":"","position":{"x":-384.0,"y":256.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":null,"Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"693c4563-2809-3bf8-84c9-1032e99d9fd8","instanceIdentifier":"d1ab30b4-3429-1cbe-cf7f-c04073e1d2ef","name":"","source":{"id":"ba6f61e8-ef20-3d8f-b534-31ed695db621","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"SplitJson","comments":"","instanceIdentifier":"d1ab30b2-3429-1cbe-536e-bad936c6d4b6"},"destination":{"id":"01c2a1d9-17d1-3d66-94c8-3b1690d3e813","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Add TS and UUID","comments":"","instanceIdentifier":"8f3d3b80-4f16-1309-e5f4-876d2118a914"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"652e48b8-7247-3260-8c75-f8ac40c8d73e","instanceIdentifier":"d1ab30a6-3429-1cbe-4b81-ac345a67c9f4","name":"","source":{"id":"28784063-9393-33ee-b008-b554b774957a","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"REST Input","comments":"","instanceIdentifier":"310f3285-90fe-1b53-3e68-1e53fa982079"},"destination":{"id":"28784063-9393-33ee-b008-b554b774957a","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"REST Input","comments":"","instanceIdentifier":"310f3285-90fe-1b53-3e68-1e53fa982079"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":856.0,"y":-564.0},{"x":747.9999847412109,"y":-494.5000305175781}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"0b0df4a3-1afd-3300-b8f4-d19aae73cd31","instanceIdentifier":"d1ab30bf-3429-1cbe-cd9c-beca32e7d39b","name":"","source":{"id":"46ce3a35-52d2-3bd9-bc50-13c2c000acc1","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"RetryFlowFile","comments":"","instanceIdentifier":"d1ab30bc-3429-1cbe-5165-d6593a50bfeb"},"destination":{"id":"73bda51b-74c4-37d1-a87c-5a4e07ec3c21","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"PublishPulsarRecord","comments":"","instanceIdentifier":"d1ab30ba-3429-1cbe-c426-ed7cd7722f32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":128.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"05495fea-7a0c-31a2-9960-58763638fcab","instanceIdentifier":"d1ab30b5-3429-1cbe-8b64-90d561b606f6","name":"","source":{"id":"ba6f61e8-ef20-3d8f-b534-31ed695db621","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"SplitJson","comments":"","instanceIdentifier":"d1ab30b2-3429-1cbe-536e-bad936c6d4b6"},"destination":{"id":"1825f250-1d7b-34c9-bf0a-7c8615b2ee13","type":"FUNNEL","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Funnel","comments":"","instanceIdentifier":"d1ab30a4-3429-1cbe-d89f-47e9a1aaa126"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"84812cf3-0d95-34d5-8fda-78333da10fdb","instanceIdentifier":"d1ab30be-3429-1cbe-a9a4-8f4259b8d0b9","name":"","source":{"id":"46ce3a35-52d2-3bd9-bc50-13c2c000acc1","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"RetryFlowFile","comments":"","instanceIdentifier":"d1ab30bc-3429-1cbe-5165-d6593a50bfeb"},"destination":{"id":"e1e70c6a-114d-3a7e-aa18-fb52bce3744a","type":"FUNNEL","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Funnel","comments":"","instanceIdentifier":"d43fd58c-0184-1000-a033-75777854909d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"a909efe2-9b4a-3400-8e21-2fa8874876a4","instanceIdentifier":"d1ab30b3-3429-1cbe-c8cd-38d096ea92d7","name":"","source":{"id":"ac07c087-bca8-3cc8-b43c-184b12c51c57","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Query and Convert","comments":"","instanceIdentifier":"8f3d3b7f-4f16-1309-7038-3b343d0f06bd"},"destination":{"id":"ba6f61e8-ef20-3d8f-b534-31ed695db621","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"SplitJson","comments":"","instanceIdentifier":"d1ab30b2-3429-1cbe-536e-bad936c6d4b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"592df875-a94c-3150-ab4f-cdbe5c8ad499","instanceIdentifier":"d1ab30a5-3429-1cbe-5e43-85a590866352","name":"","source":{"id":"28784063-9393-33ee-b008-b554b774957a","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"REST Input","comments":"","instanceIdentifier":"310f3285-90fe-1b53-3e68-1e53fa982079"},"destination":{"id":"1825f250-1d7b-34c9-bf0a-7c8615b2ee13","type":"FUNNEL","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Funnel","comments":"","instanceIdentifier":"d1ab30a4-3429-1cbe-d89f-47e9a1aaa126"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"df7177c3-5850-369b-a770-fc74cd488054","instanceIdentifier":"d1ab30a1-3429-1cbe-6c10-8c0040cd9d50","name":"","source":{"id":"28784063-9393-33ee-b008-b554b774957a","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"REST Input","comments":"","instanceIdentifier":"310f3285-90fe-1b53-3e68-1e53fa982079"},"destination":{"id":"ac07c087-bca8-3cc8-b43c-184b12c51c57","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Query and Convert","comments":"","instanceIdentifier":"8f3d3b7f-4f16-1309-7038-3b343d0f06bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"3a2eeab1-f292-39cf-953f-d0261d143894","instanceIdentifier":"d1ab309c-3429-1cbe-5fda-605f56158518","name":"","source":{"id":"01c2a1d9-17d1-3d66-94c8-3b1690d3e813","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Add TS and UUID","comments":"","instanceIdentifier":"8f3d3b80-4f16-1309-e5f4-876d2118a914"},"destination":{"id":"e1e70c6a-114d-3a7e-aa18-fb52bce3744a","type":"FUNNEL","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Funnel","comments":"","instanceIdentifier":"d43fd58c-0184-1000-a033-75777854909d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"46db9201-2793-3eba-8cd1-ed83442c10b7","instanceIdentifier":"d1ab30a9-3429-1cbe-0c21-ec1a0c2d62e7","name":"","source":{"id":"ac07c087-bca8-3cc8-b43c-184b12c51c57","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Query and Convert","comments":"","instanceIdentifier":"8f3d3b7f-4f16-1309-7038-3b343d0f06bd"},"destination":{"id":"1825f250-1d7b-34c9-bf0a-7c8615b2ee13","type":"FUNNEL","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Funnel","comments":"","instanceIdentifier":"d1ab30a4-3429-1cbe-d89f-47e9a1aaa126"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"7f6d5c5e-3251-3f26-91f2-4dd79e8552ef","instanceIdentifier":"d1ab30bd-3429-1cbe-8571-126027d1ac74","name":"","source":{"id":"73bda51b-74c4-37d1-a87c-5a4e07ec3c21","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"PublishPulsarRecord","comments":"","instanceIdentifier":"d1ab30ba-3429-1cbe-c426-ed7cd7722f32"},"destination":{"id":"46ce3a35-52d2-3bd9-bc50-13c2c000acc1","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"RetryFlowFile","comments":"","instanceIdentifier":"d1ab30bc-3429-1cbe-5165-d6593a50bfeb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"95fe2264-6be4-3eda-9066-523697fd8938","instanceIdentifier":"d1ab30bb-3429-1cbe-5b88-b3c9bb2f5ca5","name":"","source":{"id":"01c2a1d9-17d1-3d66-94c8-3b1690d3e813","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"Add TS and UUID","comments":"","instanceIdentifier":"8f3d3b80-4f16-1309-e5f4-876d2118a914"},"destination":{"id":"73bda51b-74c4-37d1-a87c-5a4e07ec3c21","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"PublishPulsarRecord","comments":"","instanceIdentifier":"d1ab30ba-3429-1cbe-c426-ed7cd7722f32"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"a915dd8b-ef83-3a57-bbc9-291053ff3355","instanceIdentifier":"d1ab30c4-3429-1cbe-325d-d0b19164e14c","name":"","source":{"id":"73bda51b-74c4-37d1-a87c-5a4e07ec3c21","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"PublishPulsarRecord","comments":"","instanceIdentifier":"d1ab30ba-3429-1cbe-c426-ed7cd7722f32"},"destination":{"id":"4b45fc0a-c624-3be0-ae66-9294e293cbb2","type":"PROCESSOR","groupId":"67bda564-d304-35e1-a3dc-5271883cfffb","name":"PutFile","comments":"","instanceIdentifier":"d1ab30c3-3429-1cbe-6517-73d59b476589"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"}],"labels":[],"funnels":[{"identifier":"e1e70c6a-114d-3a7e-aa18-fb52bce3744a","instanceIdentifier":"d43fd58c-0184-1000-a033-75777854909d","position":{"x":952.0,"y":248.0},"componentType":"FUNNEL","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"1825f250-1d7b-34c9-bf0a-7c8615b2ee13","instanceIdentifier":"d1ab30a4-3429-1cbe-d89f-47e9a1aaa126","position":{"x":1056.0,"y":-336.0},"componentType":"FUNNEL","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"}],"controllerServices":[{"identifier":"bbc1a5ef-9c5e-35dd-afdb-b162ce5b6456","instanceIdentifier":"d1ab30a7-3429-1cbe-764a-3c50c7998134","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"241f1918-4dc8-3f39-be9e-5f2a4f7f211c","instanceIdentifier":"d1ab30a8-3429-1cbe-0bbc-67415eb9e06c","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"},{"identifier":"a8ac07ef-b35b-3cda-9852-3e71f726c5c1","instanceIdentifier":"d1ab30c1-3429-1cbe-0cbf-02ce16fd88ac","name":"StandardPulsarClientServiceDocker","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.18.0"},"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":null,"MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar://Timothys-MBP:6650","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"67bda564-d304-35e1-a3dc-5271883cfffb"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}